@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: #184B85;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-color: #F5F5F5;
}

section {
  scroll-snap-align: start;
  background-color: #F5F5F5;
}